/* Cleaned */
:root {
	--dashboardcomponent-color-background: #090909;
	--dashboardcomponent-color-border: #494b4e;
	--dashboardcomponent-color-highlight: #5a9cf8;
	--dashboardcomponent-color-normal-text: white;
	--dashboardcomponent-color-complement-text: #888787;
	--dashboardcomponent-color-component-background: #282a2c;
	--dashboardcomponent-color-overlay: rgba(0, 0, 0, 0.65);
	--dashboardcomponent-font-to-icon: 1.2;
	--dashboardcomponent-font-xl: 1.5rem;
	--dashboardcomponent-font-l: 1.25rem;
	--dashboardcomponent-font-m: 18px;
	--dashboardcomponent-font-ms: 1rem;
	--dashboardcomponent-font-s: 0.75rem;
	--dashboardcomponent-font-icon: "Material Icons Round";
	--vh: 1vh;
}

.apexcharts-tooltip {
	box-shadow: 0px 0px 5px black !important;
}
.apexcharts-tooltip .chart-tooltip,
.chart-tooltip {
	padding: 5px 10px 5px 5px !important;
	border: solid 1px var(--dashboardcomponent-color-border) !important;
	border-radius: 5px !important;
	background: var(--dashboardcomponent-color-component-background) !important;
	box-shadow: 0px 0px 5px black !important;
}
.apexcharts-tooltip {
	border: solid 1px var(--dashboardcomponent-color-border) !important;
}
.chart-tooltip h6 {
	color: var(--dashboardcomponent-color-complement-text);
	font-size: 0.75rem;
	margin: 0;
}
.chart-tooltip span {
	color: var(--dashboardcomponent-color-normal-text);
	font-size: var(--dashboardcomponent-font-ms);
}
.apexcharts-canvas,
.vue-apexcharts {
	overflow: visible !important;
}
.apexcharts-yaxis-label,
.apexcharts-xaxis-label,
.apexcharts-legend-text {
	fill: var(--dashboardcomponent-color-complement-text) !important;
	color: var(--dashboardcomponent-color-complement-text) !important;
}
.vue-apexcharts {
	display: flex;
	justify-content: center;
}
.apexcharts-zoom-icon {
	display: none;
}
.apexcharts-reset-icon {
	width: fit-content !important;
}
.apexcharts-reset-icon p {
	color: var(--dashboardcomponent-color-highlight) !important;
}
